!/tools/Rake/bin

[Bb]in
obj
*.user
*.suo
*.log
teamcity-info.xml
desktop.ini
 
/build
/deploy

!/tools/Ruby/bin/
!/tools/Ruby/lib/ruby/gems/1.8/gems/rake-0.9.2/bin/

local-properties.yml
*.generated.*
!/source/app/Spartakiade.Wiki/bin
/source/app/Spartakiade.Wiki/bin/NVelocity*
/source/app/Spartakiade.Wiki/bin/Spartakiade*
/source/app/Spartakiade.Wiki/Web.config
/source/app/Spartakiade.Wiki/public/Plugins/NVelocity*
/source/app/Spartakiade.Wiki/public/Plugins/Spartakiade*
/source/app/Spartakiade.Wall/index.htm
/source/app/Spartakiade.Root/wufoo.css

# ScrewTurn instance-specific files.
/source/app/Spartakiade.Wiki/public/Attachments/
/source/app/Spartakiade.Wiki/public/Messages/
/source/app/Spartakiade.Wiki/public/Pages
/source/app/Spartakiade.Wiki/public/*.bak.cs
/source/app/Spartakiade.Wiki/public/ACL.cs
/source/app/Spartakiade.Wiki/public/AttachmentDownloads.cs
/source/app/Spartakiade.Wiki/public/Categories.cs
/source/app/Spartakiade.Wiki/public/Config.cs
/source/app/Spartakiade.Wiki/public/FileDownloads.cs
/source/app/Spartakiade.Wiki/public/Groups.cs
/source/app/Spartakiade.Wiki/public/IndexDocuments.cs
/source/app/Spartakiade.Wiki/public/IndexMappings.cs
/source/app/Spartakiade.Wiki/public/IndexWords.cs
/source/app/Spartakiade.Wiki/public/Links.cs
/source/app/Spartakiade.Wiki/public/Log.cs
/source/app/Spartakiade.Wiki/public/Namespaces.cs
/source/app/Spartakiade.Wiki/public/NavigationPaths.cs
/source/app/Spartakiade.Wiki/public/Pages.cs
/source/app/Spartakiade.Wiki/public/RecentChanges3.cs
/source/app/Spartakiade.Wiki/public/Users.cs
/source/app/Spartakiade.Wiki/public/UsersData.cs
