!/tools/Rake/bin

[Bb]in
obj
*.user
*.suo
*.log
teamcity-info.xml
desktop.ini
 
/build
/deploy

local-properties.yml
/source/app/NOS.Wiki/public/Plugins/Config/PageChangeAlerts.PageChangeAlerts.cs
