.clearfix {
	height: 0;
}

#logo {
	cursor: pointer;
}

#HeaderDiv .basictab li a {
	display: block;
}

#HeaderDiv .basictab li .largest a {
	padding-top: 9px;
	padding-bottom: 9px;
}

#HeaderDiv .basictab li .large a {
	padding-top: 7px;
	padding-bottom: 7px;
}

#HeaderDiv .basictab li .smaller a {
	padding-top: 3px;
	padding-bottom: 3px;
}

#HeaderDiv .basictab li .smallest a {
	padding-top: 1px;
	padding-bottom: 1px;
}

#HeaderDiv .basictab ul.submenu {
	margin-top: 0;
	zoom: 1;
}

#HeaderDiv .pos1 {
	top: 11px;
}

#HeaderDiv .pos2, #HeaderDiv .pos8 {
	top: 14px;
}

#HeaderDiv .pos3 {
	top: 3.5em;
}

#HeaderDiv .pos4 {
	top: 5.3em;
}

#HeaderDiv .pos5 {
	top: 3.5em;
}

#HeaderDiv .pos6 {
	top: 5.7em;
}

#HeaderDiv .pos7 {
	top: 5.7em;
	right: 5.8em;
}

#HeaderDiv .pos8 {
	right: 15.3em;;
}

#MainDiv {
	margin-left: 205px;
}

#MainFooterDiv {
	clear: both;
}

#FooterDiv .logos {
	width: 38%;
}

#FooterDiv .logos li img {
	vertical-align: text-bottom;
}

textarea {
	width: 97% !important;
}

#SearchControlsDiv input {
	vertical-align: top;
}

#PageContentDiv div.copy-code {
	margin-left: 61%;
}
