@media print {
	* {
		color: #000 !important;
	}

	.no-print {
		display: none;
	}

	.page-break {
		page-break-after: always;
	}

	body {
		background: none;
	}

	body form {
		width: auto;
		padding: 0;
	}

	#ContainerDiv {
		padding-bottom: 0;
	}

	#ContainerDiv, #FooterDiv .content {
		padding: 0;
	}

	#HeaderDiv, #HeaderSADiv, #SidebarDiv, #FooterDiv, #FooterSADiv, #EditHistoryLinkDiv, #NavigationSADiv, #PageInfoDiv, #RssLinkDiv, #PrintLinkDiv, a.editsectionlink {
		display: none;
	}

	#MainDiv {
		margin-left: 0;
	}

	a {
		text-decoration: underline;
	}

	a.externallink, a.unknownlink {
		background: none;
		padding-right: 0;
	}
	
	a.direct-link {
		display: none;
	}
}