<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="www-Präfix entfernen" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^www\.(.*)" />
                    </conditions>
                    <action type="Redirect" url="http://{C:1}/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Cross Domain JSON" stopProcessing="false">
                    <match url="^(.*\.json)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                        <add input="{QUERY_STRING}" pattern=".*&amp;?json=\w+" />
                    </conditions>
                    <action type="Rewrite" url="/JSONPHandler.ashx?file={R:0}" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="" httpResponseStatus="Permanent" />
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
