html {
	min-height: 100%;
	margin-bottom: 1px;
	font-size: .9em;
}

html, input, textarea {
	font-family: Segoe UI, Verdana, Tahoma, Arial, Sans-Serif;
}

body {
	line-height: 1.5em;
	background: #e1df9e url(images/layout/page-background.png) repeat-x scroll left top;
	color: #111;
}

body form {
	background: transparent url(images/layout/content-border.png) repeat-y scroll left top;
	padding: 0 6px;
}

pre {
	font-family: Consolas, Lucida Console, Monospace;
	margin: .5em 1em;
	margin-top: 0;
	overflow: scroll;
}

a {
	color: #648c13;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.preview {
	display: inline-block;
	color: #aaa;
}

a.direct-link {
	display: inline;
	text-decoration: none;
	color: #fff;
	margin-left: .1em;
}

.separator:hover a.direct-link {
	color: #648c13;
}

strong, b, strong *, b * {
	font-weight: bold;
}

em {
	font-style: italic;
}

input[type="text"], input[type="password"], input[type="file"], select, textarea, span.prefix {
	color: #3f3e3e;
	padding: .2em;
	border: 1px solid #c2c2c2;
	margin-bottom: .5em;
	font-size: .9em;
}

span.prefix {
	border-right: 0;
	color: #aaa;
	padding-right: 0;
}

input.has-prefix {
	border-left: 0;
	padding-left: 0;
}

label, input[type="submit"], input[type="image"], button {
	cursor: pointer;
}

label {
	margin-right: .5em;
}

select {
	padding-top: .07em;
	padding-bottom: .07em;
	vertical-align: top;
}

hr {
	border: 0;
	border-bottom: 1px solid #f3f3f3;
}

blockquote {
	border-left: 0.3em solid #5b5b5b;
	margin-left: 1em;
	padding-left: .5em;
}

.clearfix:after, 
.cleanup:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix,
.cleanup {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix,
* html .cleanup {
	height: 1%;
}

.clearfix,
.cleanup {
	display: block;
}
/* End hide from IE-mac */

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Palatino, Serif;
	font-size: 1.5em;
	line-height: 1.6em;
	padding-bottom: .5em;
	color: #a12d0d;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

ul li {
	list-style-type: square;
	margin-left: 2em;
}

ul li li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
	margin-left: 2em;
}

ol li li {
	list-style-type: lower-alpha;
}

.small {
	font-size: .9em;
}

.smaller {
	font-size: .8em;
}

.smallest {
	font-size: .7em;
}

.large {
	font-size: 1.1em;
}

.larger {
	font-size: 1.2em;
}

.largest {
	font-size: 1.3em;
}

/*
Tables
------------------------------------------------------------------------------------------------------------------------
*/
table {
	vertical-align: top;
	border-collapse: collapse;
	width: 100%;
}

table th, table td {
	padding: .2em;
	vertical-align: top;
}

table th {
	font-weight: bold;
	background-color: #ddd;
	border-color: #fff;
}

table th a {
	font-weight: bold;
}

table.generic tr td {
	border-bottom: 1px solid #ccc;
	vertical-align: middle;
}

#PageContentDiv table {
	border: 2px solid #ccc;
	width: auto;
}

#PageContentDiv table th,
#PageContentDiv table td {
	border: 1px solid #ddd;
}

#PageContentDiv table th {
	border-color: #fff;
}

#TocContainerTable,
#TocContainerTable td,
#PageContentDiv table.imageauto,
#PageContentDiv table.imageauto td {
	border: 0 !important;
}

/*
Header
------------------------------------------------------------------------------------------------------------------------
*/
#header {
	background: transparent url(images/layout/header-background.png) no-repeat scroll left top;
	height: 134px;
}

#header h1 {
	left: -2500px;
	position: absolute;
}

#header #logo {
	background: transparent url(images/layout/header-logo.png) no-repeat scroll left top;
	width: 500px;
	height: 134px;
	float: left;
}

#header a:hover {
	text-decoration: none;
}

#header .basictab {
	float: right;
	width: 30%;
	height: 134px;
	font-size: 1.2em;
	position: relative;
}

#header .basictab li {
	display: block;
	list-style-type: none;
}

#header .pos1 {
	position: absolute;
	top: 20px;
	right: 7em;
}

#header .pos2 {
	position: absolute;
	top: 20px;
	right: 25px;
}

#header .pos3 {
	position: absolute;
	top: 3.8em;
	right: 7em;
}

#header .pos4 {
	position: absolute;
	top: 5.5em;
	right: 15px;
}

#header .pos5 {
	position: absolute;
	top: 3.5em;
	right: 54px;
}

#header .pos6 {
	position: absolute;
	top: 6em;
	right: 11.5em;
}

#header .pos7 {
	position: absolute;
	top: 6em;
	right: 6em;
}

#header .pos8 {
	position: absolute;
	top: 20px;
	right: 15.1em;
}

#header .basictab li a {
	color: #fff;
	background-color: #9dab42;
	padding: 5px 9px;
}

#header .basictab li a:hover {
	background-color: #e1df9e;
	color: #111;
}

#header .basictab li.selected a {
	background-color: #a12d0d;
}

#header .basictab li .language a {
	background-image: url(images/language.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 3px center;
	padding-left: 21px;
}

#header .basictab ul.submenu {
	margin-top: 7px;
}

#header .basictab ul.submenu li {
	padding: 0;
	margin: 0;
}

#header .basictab ul.submenu li a {
	display: block;
	padding: 3px 5px 3px 9px;
}

/*
Sidebar
------------------------------------------------------------------------------------------------------------------------
*/
#SidebarDiv .rss {
	display: inline;
	margin-left: 1em;
}

#SidebarDiv .separator a {
	color: #a12d0d;
}

#SidebarDiv .editsectionlink,
#SidebarContentDiv big {
	display: none;
}

.other-years, .remote-spaces, .buzz {
	color: #FFF;
	background: #A12D0D none no-repeat scroll top right;
}

.other-years {
	background-image: url(images/layout/other-years.png);
	min-height: 123px;
}

.other-years .submenu, .remote-spaces .submenu {
	display: none;
	margin: 0 26px 0 .5em;
	width: 7em;
}

.remote-spaces {
	background-image: url(images/layout/remote-spaces.png);
	min-height: 76px;
}

.other-years a, .remote-spaces a, .buzz a {
	color: #FFF;
}

.buzz .content {
	margin-left: .5em;
	width: 8.8em;
}

/*
Partners
------------------------------------------------------------------------------------------------------------------------
*/
.partner ul li {
	margin-left: 0;
	margin-bottom: .5em;
	list-style-type: none;
	}

.partner ul li img {
	border: 1px solid #ccc;
	padding: .2em;
}

#SidebarDiv .partner {
	margin-left: 2em;
	}

#PageContentDiv .partner li {
	display: inline;
	margin-right: .5em;
	}

/*
Content
------------------------------------------------------------------------------------------------------------------------
*/
#ContainerDiv,
#ContainerSADiv {
	background-color: #fff;
}

h1.pagetitle {
	font-weight: bold;
}

#PageContentDiv {
	margin-top: 1em;
}

#PageContentDiv pre {
	width: 90%;
	background-color: #f5f5f5;
	border: 1px solid #e1df9e;
	padding: 1em;
}

#PageContentDiv div.copy-code {
	font-size: 0.8em;
	display: block;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-top: 0.5em;
	margin-left: 80%;
	cursor: pointer;
	width: 77px;
}

/*
Footer
------------------------------------------------------------------------------------------------------------------------
*/
#footer {
	background: transparent url(images/layout/footer-background.png) no-repeat scroll left bottom;
}

#footer .content {
	background-color: #132e28;
	color: #fff;
}

#footer .logos {
	float: right;
}

#footer .logos ul li {
	float: right;
	list-style-type: none;
	margin-left: 1em;
}

#FooterDiv br,
#FooterSADiv br {
	display: none;
}

#footer .content br {
	display: block;
}

/*
ScrewTurn Wiki-related styles
------------------------------------------------------------------------------------------------------------------------
*/
.resulterror, .resultok {
	padding-left: 18px;
}

.resulterror {
	background: transparent url(images/error.png) no-repeat scroll left center;
	color: red;
}

.resultok {
	background: transparent url(images/success.png) no-repeat scroll left center;
	color: green;
}

#NavigationSADiv {
	background: #fff url(images/go-back.png) no-repeat scroll 1em center;
	padding-left: 35px;
	border-bottom: 1px solid #ccc;
}

body#VisualEditorBody,
body#VisualEditorBody form,
body#ToolWindowBody,
body#ToolWindowBody form {
	margin: 0;
	width: auto;
	padding: 0;
	background: #fff;
	background-image: none;
}

#EditNoticeDiv,
#UploadAttachmentDiv p.small {
	padding: .5em;
	background-color: #F0F0F0;
}

div.draftmanagement
{
	padding: .5em;
	background: none repeat scroll 0 0 #FFF6BF;
	border: 2px solid #FFD324;
	color: #514721;
}

#EditNoticeDiv,
div.draftmanagement {
	margin: 0 0 1em 0;
}

#ButtonsDiv {
	float:right;
}

#PageNameAndTitleDiv {
	width: 63%;
}

#PageNameAndTitleDiv input.large {
	width: 95%;
	font-size: 1.5em
}

#CategoriesDiv, #EditCommentDiv,
#MainAttachmentManagerDiv, #UploadAttachmentDiv {
	float: left;
	width: 49%;
}

#CategoriesDiv, #MainAttachmentManagerDiv {
	padding-right: 10px;
}

#AttachmentsDiv {
	clear: both;
}

#AttachmentManagerTable {
	font-size: .8em;
}

#EditHistoryLinkDiv {
	float: right;
	margin-left: 1em;
}

#EditHistoryLinkDiv a {
	margin-left: 1em;
	color: #132e28 !important;
	border-color: #132e28 !important;
	float: left;
}

#EditHistoryLinkDiv a:hover {
	color: #fff !important;
	background-color: #132e28 !important;
	text-decoration: none;
}

a.externallink {
	background-image: url(images/link-external.gif);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 14px;
}

#EditHistoryLinkDiv a, a.editsectionlink {
	margin: .5em 0 0 .5em;
	padding: 0 .2em;
	font-size: .8em;
	border: 1px solid #e1df9e;
	color: #e1df9e;
}

a.editsectionlink {
	float: right;
}

a.editsectionlink:hover {
	text-decoration: none;
	background-color: #e1df9e;
	color: #111;
}

/* HACK */
a.editsectionlink:empty {
	border: 0;
}

#RssLinkDiv, #PrintLinkDiv, #EmailNotificationDiv {
	float: right;
	position: relative;
}

input.activenotification,
input.inactivenotification,
#RssLink, #PrintLink {
	background-repeat: no-repeat;
	text-indent: -2500px;
	display: block;
	height: 16px;
	width: 16px;
	margin-left: .5em;
	margin-top: .3em;
}

input.activenotification,
input.inactivenotification {
	height: 17px;
}

input.activenotification {
	background-image: url(images/email-notification-on.png);
}

input.inactivenotification {
	background-image: url(images/email-notification-off.png);
}

input.activenotification.discuss {
	background-image: url(images/email-notification-discussion-on.png);
}

input.inactivenotification.discuss {
	background-image: url(images/email-notification-discussion-off.png);
}

#RssLink {
	background-image: url(images/RSS.png);
}

#PrintLink {
	background-image: url(images/print.png);
	margin-left: .5em;
}

#PageInfoDiv {
	color: #aaa;
	font-size: .8em;
}

a.formatlink:focus {
	outline: 0;
}

div.imageleft {
	float: left;
	margin: .5em 1em .5em 0;
}

div.imageright {
	float: right;
	margin: .5em 0 .5em 1em;
}

div.transcludedpage {
	clear: right;
}

a.unknownlink {
	color: #a12d0d;
	background-image: url(images/link-broken.png);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 19px;
}

#PageAttachmentsDiv, #AdminToolsDiv {
	background-color: #fff;
	border: 1px solid #132E28;
	padding: .2em;
	font-size: .8em;
	/* HACK */
	margin-left: -183px;
	margin-top: -15px;
}

/* HACK */
.menucontainer {
	margin-left: -183px;
	margin-top: -15px;
}

#AdminToolsDiv a {
	display: block;
}

#PageDiscussionSpan {
	font-size: 2em;
}

div.messagecontainer {
	margin-left: 1em;
}

div.rootmessagecontainer {
	border-top: 2px solid #648C13;
	margin-bottom: 1em;
}

div.messageheader {
	background-color: #f5f5f5;
	padding: .2em;
}

span.messagesubject {
	font-weight: bold;
}

span.messagedatetime {
	font-size: .9em;
	padding-left: 1em;
}

div.messagebody {
	border: 1px solid #f5f5f5;
	border-top: 0;
	margin-bottom: .5em;
	padding: .2em;
}

div.messagebody:hover {
	background-color: #ffc;
}

div.reply {
	float: right;
	margin-right: 1em;
	font-size: .75em;
}

a.reply, a.edit, a.delete {
	background: transparent url(images/message-reply.png) scroll no-repeat left center;
	padding-left: 12px;
	margin-left: 1em;
}

a.edit {
	background-image: url(images/message-edit.png);
}

a.delete {
	background-image: url(images/message-delete.png);
}

input.txtsearchbox {
	background: transparent url(images/search.png) scroll no-repeat 3px center;
	padding-left: 20px;
}

#SearchControlsDiv {
	margin-top: 1.5em;
}

#SearchControlsDiv input.textbox {
	width: 80%;
}

#SearchControlsDiv input.textbox,
#SearchControlsDiv input.button {
	font-size: 1.5em;
}

#RadiosDiv {
	margin-top: .5em;
}

#SearchStatsDiv {
	margin-top: 1em;
	color: #aaa;
}

#SearchStatsDiv b:last-child {
	color: #000;
}

h3.searchresultpage,
h3.searchresultmessage,
h3.searchresultfile,
h3.searchresultattachment {
	margin-top: 1em;
	background: transparent url(images/type-page.png) scroll no-repeat left 30%;
	padding-left: 18px;
}

h3.searchresultmessage {
	background-image: url(images/type-message.png);
}

h3.searchresultfile {
	background-image: url(images/type-file.png);
}

h3.searchresultattachment {
	background-image: url(images/type-attachment.png);
}