/* Formatting Button in Edit.aspx */
a.formatlink {
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	border: solid 1px #214C9A;
	text-indent: -2000px;
	margin-right: 2px;
	float: left;
}

/* Formatting Button in Edit.aspx */
a.formatlink:hover {
	text-decoration: none;
	border: solid 1px #D9671E;
}

#BoldLink {
	background-image: url(Images/Bold.png);
}
#ItalicLink {
	background-image: url(Images/Italic.png);
}
#UnderlineLink {
	background-image: url(Images/Underline.png);
}
#StrikeLink {
	background-image: url(Images/Strike.png);
}
#H1Link {
	background-image: url(Images/H1.png);
}
#H2Link {
	background-image: url(Images/H2.png);
}
#H3Link {
	background-image: url(Images/H3.png);
}
#H4Link {
	background-image: url(Images/H4.png);
}
#SubLink {
	background-image: url(Images/Sub.png);
}
#SupLink {
	background-image: url(Images/Sup.png);
}
#PageListLink {
	background-image: url(Images/PageLink.png);
}
#FileLink {
	background-image: url(Images/File.png);
}
#LinkLink {
	background-image: url(Images/Link.png);
}
#ImageLink {
	background-image: url(Images/Image.png);
}
#AnchorLink {
	background-image: url(Images/Anchor.png);
}
#CodeLink {
	background-image: url(Images/Code.png);
}
#PreLink {
	background-image: url(Images/Pre.png);
}
#BoxLink {
	background-image: url(Images/Box.png);
}
#BrLink {
	background-image: url(Images/BR.png);
}
#SnippetListLink {
	background-image: url(Images/Snippet.png);
}
#SpecialTagsLink {
	background-image: url(Images/SpecialTags.png);
}
#NoWikiLink {
	background-image: url(Images/NoWiki.png);
}
#CommentLink {
	background-image: url(Images/Comment.png);
}
#EscapeLink {
	background-image: url(Images/Escape.png);
}