.tweet {
	display: block;
	clear: both;
	margin: .7em 0;
	font-size: .8em;
	line-height: 1.2em;
}

.tweet img {
	float: left;
	width: 24px;
	height: 24px;
	margin: 1px 3px 2px 0;
}

.tweet .time a {
	color: #aaa;
}